* {
    margin: 0;
}

.container {
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 1200px;
}

@media (max-width: 768px) {
    .container {
        padding: 30px 40px;
    }
}

@media (max-width: 375px) {
    .container {
        padding: 20px 30px;
    }
}

.border {
    border-bottom: 4px solid white;

}

.section-title {
    margin-bottom: 45px;
    font-size: 2.5rem;
}

p {
    font-weight: 400;
    font-size: 1.2rem;
}

a {
    color: #7C3AED;
}

a:hover {
    color: #F97316;
}