html {
    scroll-behavior: smooth;
}


body {
    background-color: #F8FAFC;
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;

}

header a {
    text-decoration: none;
    color: #141414;

    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-size: 1.4rem;
}


header nav a {
    padding: 20px;
}

header nav a:hover {
    background: linear-gradient(to right,#9655E4, #D22D86);
    -webkit-text-fill-color: transparent; /* define cor de preenchimento do texto como transparente*/
    -webkit-background-clip: text; /*background fica somente atrás do texto*/

}


/*INTRODUCTION*/

#introduction>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#introduction #titles {
    display: flex;
    flex-direction: column;

    font-family: 'Times New Roman', times, serif;
    padding: 20px;
}

#titles span {
    font-size: 2rem;
    color: #7F8EA4;
    font-weight: bold;
}

#titles h1 {
    font-size: 7.5rem;
    background: linear-gradient(to right,#9655E4, #D22D86);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#introduction div img {
    height: 18vh;
    width: 18vh;
    object-fit: cover;
    border-radius: 12px;
}


/*DESCRIPTION*/

#description {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: start;

}

#description>div {
    display: flex;
    gap: 36px;
}

#main-description {
    width: 70%;
}

#main-description p {
    font-size: 1.4rem;
    line-height: 2.1rem;

}
#description a {
    color: #7C3AED;
}

#description a:hover {
    color: #F97316;
}

#side-description {
    width: 30%;
}

#side-description h1 {
    font-family: monospace;
    color: #7C3AED;
    margin-bottom: 15px;
    font-size: 1.8rem;
}

#side-description span {
    font-size: 1rem;
}

#side-description p{
    font-size: 1.2rem;
    line-height: 2.1rem;

    background-color: #F1F5F9;

    border-top: 2px solid #7C3AED;
    border-right: 6px solid #7C3AED;
    border-bottom: 6px solid #7C3AED;
    border-left: 2px solid #7C3AED;

    padding: 25px;

}


/*INTERESTS*/

#interests {
    background-image: linear-gradient(to bottom right, #F0ECFB, #F8F4F3);
}

#interests li {
    list-style: none;

    margin-bottom: 20px;
    font-size: 1.2rem;

}

/*#interests li::before {*/
/*    background: url('../images/code.svg') no-repeat center;*/
/*    content: '';*/

/*    display: inline-block;*/
/*    position: absolute;*/
/*    height: 20px;*/
/*    width: 20px;*/

/*}*/


/*EXPERIENCES LIST*/

#experiences-list {
    background-image: linear-gradient(to bottom right, #F0ECFB, #F8F4F3);
}

#experiences-list h2 {
    font-size: 2.5rem;
}

.experience-card{
    margin-left: 25px;
    padding-bottom: 120px;
}

.experience-card img {
    width: 20px;
    height: 20px;
}

.card-titles a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    text-decoration: none;
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: bold;
}

.card-titles {
    display: flex;
    justify-content: space-between;
}

.experience-info {
    color: #7C3AED;
    font-size: 1.2rem;
}

.card-description {
    background-color: white;
    padding: 40px 20px;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-description h4 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
}

.card-description span {
    display: block;
    text-align: center;

    background-color: #0F172A;
    border-radius: 8px;

    padding: 10px 20px;

    font-family: 'Times New Roman', times, serif;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.personal-projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.personal-projects-links {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}



/*SKILLS*/

#skills {
    background-image: linear-gradient(to bottom right, #F0ECFB, #F8F4F3)
}

#skills h2 {
    font-size: 2.5rem;
    margin-bottom: 45px;
}

.skills-list {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    gap: 15px 20px;

}

.skills-list li {
    background-color: #EDE9FE;
    padding: 20px 30px;
    font-size: 1.2rem;
}

.skills-list li::before {
    background: url('images/code.svg') no-repeat center;
    display: block;
    content: '';

}




/*FOOTER*/

footer {
    background-color: #F8FAFC;
    font-size: 1.2rem;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

